<h4>ユーザー編集ページ</h4>

<%= form_for(@user) do |f|%>

  <div class="form-group">
    <div class="form-inline">
	      <label class="form-edit">ユーザー名</label>
	      <%= f.text_field :name, :size=>"40", :class => "form-control" %>
    </div>

    <div class="form-group">
    <div class="form-inline">
	      <label class="form-edit">メールアドレス</label>
	      <%= f.text_field :email, :size=>"40", :class => "form-control" %>
    </div>

     <div class="form-group">
	    <div class="form-inline">
		      <label class="form-edit">電話番号</label>
		      <%= f.text_field :phone_number, :size=>"40", :class => "form-control" %>
	    </div>
    </div>
  <%= f.submit "変更を保存"%>
  <%= link_to "戻る", user_path %>

<%end%>

