<table class= 'table table-hover table-inverse'>
	<thead>
		<tr>
			<th>パーキングのアドレス</th>
			<th>カータイプ</th>
			<th>値段（１日の料金）</th>
			<th>編集</th>
			<th>消去</th>
			<th>画像編集</th>
		</tr>
	</thead>
	<tbody>
		<% @user.parkings.each do |parking| %>
		<tr>
			<td><%= parking.address %></td>
			<td><%= parking.car_model %></td>
			<td><%= parking.price %>円</td>
			<td><%= link_to "編集", edit_parking_path(parking),class:"btn btn-default" %></td>
			<td><%= link_to "削除", parking_path(parking), method: :delete, data: { confirm: '本当に削除しますか?' },class:"btn btn-default" %></td>
			<td><%= link_to "画像編集", new_parking_parking_image_path(parking),class:"btn btn-default" %></td>



		</tr>
		<%end%>
	</tbody>
</table>