<table>
	<thead>
		<tr>
			<th>ユーザーid</th>
			<th>パーキングid</th>
			<th>カータイプ</th>
			<th>貸出名</th>
			<th>値段（１日の料金）</th>
		</tr>
	</thead>
	<tbody>
		<% @user.parkings.each do |parking| %>
		<tr>
			<td><%= parking.user.id %></td>
			<td><%= parking.id %></td>
			<td><%= parking.car_model %></td>
			<td><%= parking.user.name %></td>
			<td><%= parking.price %></td>
		</tr>
		<%end%>
	</tbody>
</table>