<h1>マイページ</h1>



			<table>
				<thead>
							<tr>
								<th>ユーザーid</th>
								<td><%= @user.id =%></td>
							</tr>
							<tr>
								<th>ユーザーname</th>
								<td><%= @user.name =%></td>
							</tr>
							<tr>
								<th>アドレス</th>
								<td><%= @user.email =%></td>
							</tr>
							<tr>
								<th>電話番号</th>
								<td><%= @user.phone_number =%></td>
							</tr>
				</thead>
			</table>

		        <%= link_to "プロフィール編集", edit_user_path(@user)%>,
				<%= link_to "駐車場管理", park_list_path %>,
				<%= link_to "駐車場使用歴", reservations_path %>,
				<%= link_to "駐車場貸出歴", lend_path %>


