<h1>ユーザー詳細ページ</h1>


<table>
	<thead>
		<tr>
			<th>ユーザーid</th>
			<th>ユーザーname</th>
			<th>アドレス</th>
			<th>電話番号</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td><%= @user.id =%></td>
			<td><%= @user.name =%></td>
			<td><%= @user.email =%></td>
			<td><%= @user.phone_number =%></td>
	    </tr>


	</tbody>

</table>
        <p><%= link_to "プロフィール編集", edit_user_path(@user)%></p>
		<p><%= link_to "駐車場管理", park_list_path %></p>
		<p><%= link_to "駐車場借りた", reservations_path %></p>
		<p><%= link_to "駐車場借した", lend_path %></p>
