<h4>駐車場利用履歴</h4>
<table class= 'table table-hover table-inverse'>
    <tr>
 			<th>ネーム</th>
 			<th>１日の料金</th>
 			<th>利用開始日</th>
 			<th>返却日</th>
 			<th>合計金額</th>

 	</tr>

 	<tr>
 		<% @reservations.each do |reservation| %>
 		<td><%= reservation.parking.user.name%></td>
 		<td><%= reservation.parking.price%>円</td>
 		<td><%= reservation.start_day.strftime('%Y年%-m月%-d日') %></td>
 		<td><%= reservation.end_day.strftime('%Y年%m月%d日') %></td>
 		<%#= (reservation.end_day-reservation.start_day) * reservation.parking.price %>
 		<%  reserve_total = ((reservation.end_day-reservation.start_day) / 86400) %>
 		<td> <%= reserve_total.ceil * reservation.parking.price %>円</td>
 		<!-- <%= reserve_total %> -->
 	</tr>

<% end %>
</table>