<%= form_for(@parking) do |parking| %>
<h4>１日あたりの料金</h4>
<%= parking.text_field :price %>円
<h4>利用可能サイズ</h4>
<%= parking.select :car_model, [["軽自動車", "軽自動車"], ["コンパクトカー", "コンパクトカー"], ["セダン", "セダン"], ["SUV", "SUV"], ["ミニバン", "ミニバン"]]%>
<h4>郵便番号</h4>
 <%= parking.text_field :postal_code %>

 <h4>住所</h4>
 <%= parking.text_field :address %>

 <h4>注意事項</h4>
 <%= parking.text_area :notes %>

<%= parking.submit '投稿'%>
<% end %>
<%= link_to "戻る", park_list_path %>