
<%= form_for(@parking) do |parking|%>
<div class="container">
	<h1>貸出駐車場登録 </h1>
		  		<div class ="input-froup">

		  			<span class="input-group-addon">利用可能サイズ</span>
		  			<%= parking.select :car_model, [["軽自動車", "軽自動車"], ["コンパクトカー", "コンパクトカー"], ["セダン", "セダン"], ["SUV", "SUV"], ["ミニバン", "ミニバン"]]%>
		  		</div>

		  		<div class ="input-froup">
		  			<span class="input-group-addon">郵便番号</span>
		  			<%= parking.text_field :postal_code %>
		  		</div>

		  		<div class ="input-froup">
		  			<span class="input-group-addon">住所</span>
		  			<%= parking.text_field :address %>
		  		</div>

		  		<div class ="input-froup">
		  			<span class="input-group-addon">１日あたりの料金</span>
		  			<%= parking.text_field :price %>
		  		</div>

		  		<div class ="input-froup">
		  			<span class="input-group-addon">注意事項</span>
		  			<%= parking.text_area :notes %>
		  		</div>

		  		   <p><%= parking.submit '画像登録へ'%></p>

	<% end %>
</div>