<h1>貸出駐車場登録 </h1>

<%= form_for(@parking) do |parking|%>
  <table>
<thead>
</thead>
	  	<tbody>
	  		<tr>
	  			<th>利用可能サイズ</th>
	  			<td><%= parking.select :car_model, [["軽自動車", "軽自動車"], ["コンパクトカー", "コンパクトカー"], ["セダン", "セダン"], ["SUV", "SUV"], ["ミニバン", "ミニバン"]]%></td>
	  		</tr>

	  		<tr>
	  			<th>郵便番号</th>
	  			<td><%= parking.text_field :postal_code %></td>
	  		</tr>

	  		<tr>
	  			<th>住所</th>
	  			<td><%= parking.text_field :address %></td>
	  		</tr>
	  		<tr>
	  			<th>１日あたりの料金</th>
	  			<td><%= parking.text_field :price %></td>
	  		</tr>
	  		<th>注意事項</th>
	  			<td><%= parking.text_area :notes %></td>
	  		</tr>
	  		<tr>
	  		   <td><%= parking.submit '画像登録へ'%></td>
	  	    </tr>

	  	</tbody>

  </table>
<% end %>