 <% if flash[:danger] %>
      <div class="flash,alert alert-danger">
        <%= flash[:danger] %>
      </div>
    <% end %>


        <% @parking.parking_images.each do |parking_image| %>
               <%= attachment_image_tag parking_image, :image, :fill, 300, 300%>
        <% end %>
                <table class= 'table table-hover table-inverse' style="text-align:center;">
                    <thead>
                        <tr>
                            <th>貸出名</th>
                            <td><%= @parking.user.name %></td>
                        </tr>
                       <tr>
                            <th>住所</th>
                            <td><%= @parking.address %></td>
                        </tr>
                        <tr>
                            <th>値段（１日の料金）</th>
                            <td><%=@parking.price %>円</td>
                        </tr>
                        <tr>
                            <th>カータイプ</th>
                            <td><%=@parking.car_model %></td>
                        </tr>
                        <tr>
                            <th>注意事項</th>
                            <td><%=@parking.notes %></td>
                        </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>








<%= form_for [@parking, @reservation] do |f| %>


<%= f.hidden_field :parking_id, value: @parking.id %>

<div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <%= f.text_field :start_day, :class => 'form-control', :placeholder => "借りたい日"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <%= f.text_field :end_day, :class => 'form-control', :placeholder => "返す日"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>




   <%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>


<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });


    });

</script>
        <%= link_to "戻る", parkings_path,class:"btn btn-default"  %>

