<!DOCTYPE html>
<html>
  <head>
    <title>Diversity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header style="background-color: #0000003b;">
 <div class="collapse navbar-collapse" id="navbarEexample">
   <nav>
   </nav>

   <nav>
     <ul class="nav navbar-nav navbar-left">
      <% if user_signed_in? %>
       <li>
         <%= link_to "My Page", user_path(current_user)  %>
       </li>
       <li>
         <%= link_to "駐車場登録", new_parking_path %>
       </li>

       <li>
         <%= link_to "駐車場検索", root_path %>
       </li>


       <li>
         <%= link_to "駐車場一覧", parkings_path %>
       </li>

       <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>

       </li>
        <%= current_user.name %>
       </ul>

       <% else %>
       <ul class="nav navbar-nav navbar-left">

       <li>
          <%= link_to " sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to " login", new_user_session_path %>
        </li>
      </ul>
        <% end %>
 </nav>
</div>
</header>

  <body class="body">


     <%= yield %>
  </body>
</html>
